@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');

body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Asul', sans-serif;
}
